{% extends "refts_json_compiler/base.html" %}

{% load staticfiles %}

{% block app_navigation_items %}
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal-create-refts">Create Reference Timeseries</button>
{% endblock %}

{% block app_content %}
{% endblock %}

{% block app_content_wrapper_override %}
    {{block.super}}
    <div id="modal-create-refts" class="modal refts-modal fade modal-admin" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Reference Timeseries Creator</h4>
                </div>
                <div class="modal-body">
                    <form id="upload-files" method="post" enctype="multipart/form-data">
                        <input id="input-upload-files" name="file" type="file" multiple>
                        <br>
                        <button id="btn-upload-files" type="button">Upload</button>
                    </form>
                    <br>
                    <table id="table-refts-files-head">
                        <tr>
                            <th>File</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </table>
                    <div id="q" style="overflow-y:auto; height:300px;">
                        <table id="table-refts-files">
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btn-download-selected-files">Download</button>
                    <button type="button" class="btn btn-default" id="btn-clear-selected-files">Clear</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block app_actions %}
{% endblock %}